@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout {
    @apply overflow-x-hidden h-screen px-0 text-gray-950  mx-auto relative pt-28 sm:pt-36;
  }
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-col-between {
    @apply flex flex-col justify-center;
  }

  .flexColCenter {
    @apply flex flex-col justify-center items-center;
  }

  .flex-row-center {
    @apply flex items-center justify-center gap-2;
  }

  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .clamp-size {
    @apply max-w-7xl mx-auto px-2 scroll-mt-28;
  }

  .gridMinMax {
    @apply grid justify-between grid-cols-[repeat(auto-fill,minmax(300px,1fr))];
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #09090a;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #5c5c7b;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7878a3;
  }

  .fillAvailable {
    width: -webkit-fill-available;
  }

  .test {
    @apply bg-red-600 text-blue-500 p-4;
  }

  .nds-table thead th {
    @apply !bg-neutral-900;
  }
}
